@page {
  size: A4;
  margin: 20mm;
}

html,
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans JP",
    "Hiragino Kaku Gothic ProN", "Yu Gothic", "Meiryo", sans-serif;
  font-size: 11pt;
  line-height: 1.45;
  color: #111;
}

pre,
code {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

thead {
  display: table-header-group;
}

th,
td {
  border: 1px solid #ddd;
  padding: 4px 6px;
  vertical-align: top;
}

th {
  background: #f6f6f6;
}

/* td:nth-child(1) {
  white-space: nowrap;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
} */

td {
  overflow-wrap: break-word;
  word-break: break-word;
}

